@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,100;0,400;0,500;0,700;1,200;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css");

:root{
    --primary-color: #893225; 

    --title-color: rgb(34, 34, 34);
}

::selection{
    background: rgb(26, 190, 240);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1 px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.logo{
    cursor: pointer;
    transition: all .6s;
}

.logo:hover{
    transform: translateY(-5px) rotate(35deg);
}


.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 1rem;
}

.nav_links a{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    font-family: "Baloo Da 2";
    letter-spacing: 2px;
    border-radius: 5px;
    padding: 0 10px;
    transition: all 0.5s;
    
}

.nav_links a:hover{
    background-color: #893225;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;    
}

.img-wrapper{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 0, 7);
    overflow: hidden;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
    
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }

    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    top: 30%;
    left: 10%;
}

.banner h1{
    color: rgb(231, 220, 220);
    font-size: 3.5rem;
    font-family: "Baloo Da 2", serif;
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.4);
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: bannerMove 1s .3s forwards;
}

.banner p{
    font-family: "Josefin Slab", serif;
    color: rgb(231, 220, 220);
    font-size: 1.7rem;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, 0.404);
    letter-spacing: .3rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    opacity: 0;
    animation: bannerMove 1s .5s forwards;
}   

.banner a{
    font-family: "Roboto", serif;
    text-decoration: none;
    color: rgb(231, 220, 220);
    transition: opacity .5s;
}

.banner button{
    font-family: "Baloo da 2", serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .9rem;
    background: #893225; 
    background: -webkit-linear-gradient(to right, #dd2e13, #893225); 
    background: linear-gradient(to right, #dd2e13, #893225);
    border-radius:10px;
    border: none;
    padding: .5rem 1.5rem;
    cursor: pointer;    
    opacity: 0;
    transition: .5s all;
    animation: bannerMove 1s .7s forwards;
}


.banner a button:hover{
    font-size: 1rem;
}

@keyframes bannerMove{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.section_projetos{
    position: relative; 
    width: 100%;
    height: 100vh;
    padding: 4rem;
    background-color: #e6e6f0
}

.section_header{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-family: "Josefin Slab" , serif;
    font-size: 3rem;
    color: var(--title-color);
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: underline 5px solid var(--primary-color);
}

.projetos{    
    display: flex;
    justify-content: space-around;
    

}

.card{
    width: 23rem;
    height: 30rem;
    position: relative;
    cursor: pointer;
}

.card_img{
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    border-radius: .7rem;
}

.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .7rem;
    opacity: .8;
}

.card_content{
    position: absolute;
    bottom: 0;
    padding: 7rem 1rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
    opacity: .0;
    visibility: hidden;
    transition: all .5s;
}

.card_content h2{
    font-size: 2.5rem;
    font-family: "Josefin Slab", serif;
    color: #eee;
    margin-bottom: .1rem;
}

.card_content h3{
    font-size: 1.5rem;
    font-family: "Roboto", serif;
    color: rgb(26, 190, 240);
    margin-bottom: 1rem;
}   

.card_content p{
    font-size: 1rem;
    font-family: "Roboto" serif;
    color: #fff;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.card_content button{
    width: 8rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    padding: .5rem;
    cursor: pointer;
    color: #eee;
    letter-spacing: 1px;
    font-family: "Baloo Da 2";
    text-transform: uppercase;
}

.card:hover .card_content{
    opacity: 1;
    visibility: visible;
    bottom: .2rem;
}